page-login {
        .toolbar-title-md {
                        margin-top: -70px;
                        text-align: center;
                        font-size: 1.7rem;
                        font-weight: 600;
                        color: #000;
                        pointer-events: auto;
                }
        }