page-home {
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
// .platform-android {
//     ion-title {
     
//             text-align: center;
//             font-size: 1.7rem;
//             font-weight: 600;
//             color: #000;
//             pointer-events: auto;
        
//        }
// }